.authTxt{
    color: var(--color-navy-blue);
    font-size: var(--font-size-subheading);
}

.forgotPassword{
    color: var(--color-deep-blue);
}

.authBtn{
    background-color: var(--color-deep-blue);
}

.authBtn:hover{
    background-color: var(--color-navy-blue);
}

.accountStatus{
    color: var(--color-deep-blue);
}