.contactForm{
    background-image: url('../assets/contactBg.png');
}

.contactHeading{
    font-size: var(--font-size-subheading);
    color: var(--text-secondary);
}
  
.sendBtn{
    background-color: var(--color-navy-blue);
}
  
.sendBtn:hover{
    background-color: var(--color-deep-blue);
}